{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<div class="card bg-dark text-white container my-4">
  <img class="card-img" src="static/5.jpg" alt="Card image" height="400">
   <div class="card-body">
    <h5 class="card-title">Development</h5>
    <p class="card-text"> We develop responsive, functional and super-fast websites.
We keep User Experience in mind while creating websites. A website should load
quickly and should be accessible even on a small view-port and slow internet connection.</p>
  </div>
</div>
<div class="card bg-dark text-white container my-4">
  <img class="card-img" src="static/6.jpg" alt="Card image" height="400">
   <div class="card-body">
    <h5 class="card-title">Consultancy</h5>
    <p class="card-text">We are here to provide you with expert advice on your design and
development requirements.</p>
  </div>
</div>
<div class="card bg-dark text-white container my-4">
  <img class="card-img" src="static/7.jpg" alt="Card image" height="400">
   <div class="card-body">
    <h5 class="card-title">Videos</h5>
    <p class="card-text">We create a polished professional video that impresses your audience.</p>
  </div>
</div>
{% endblock body %}

